*{padding:0;margin:0;text-decoration:none;box-sizing:border-box;background:black;list-style:none;}
li, a, button{font-family:sans-serif;font-weight:500;font-size:16px;color:white;}
header{display:flex;justify-content:flex-end;align-items:center;padding:30px 10px;}
.log2{cursor:pointer;margin-right:auto;}
.nav_link2 li{display:inline-block;padding:0px 20px;}
.nav_link2 li a{transition:all .5s ease 0s;}
.nav_link2 li a:hover{color:green;}
button{margin-right:30px;margin-left:30px;padding:9px 30px;background-color:gray;opacity:0.6;border:none;border-radius:50px;cursor:pointer;transition:all .6s ease 0s;}
button:hover{background:blue;}