*{margin:0;padding:0;text-decoration:none;list-style:none;}
body{background-image:url(1.jpg);background-size:cover;}
nav{width:100%;height:90px;background:gray;position:fixed;z-index:-1;}
nav ul{display:flex;justify-content:space-around;flex-wrap:wrap;margin-top:30px;}
.container{position:relative;top:90px;display:flex;flex-wrap:wrap;justify-content:space-around;align-items:center;z-index:2;}
.box1,.box2,.box3,
.box4,.box5,.box6,.box7,.box8{margin:40px;padding:20px;background:red;width:500px;height:300px;}
.box1,.box2,.box3,
.box4,.box5,.box6,.box7,.box8:hover{cursor:pointer;}
footer{position:relative;bottom:0px;left:0px;right:0px;height:300px;width:100%;background:green;z-index:1;}