body{
margin:0;
padding:0;
			background-image:url(bg.jpg);
background-size:cover;
}
.menu-option{
	display:flex;
	flex-direction:row-reverse;
	justify-content:space-around;
}
.menu{
	font-size:30px;
	font-weight:bolder;
	margin-top:10px;
	border:5px solid green;
	color:#9999FF;
	padding:10px;
	border-radius:10px;
}
.menu:hover{
	color:#99FFFF;
	cursor:pointer;
}
.placeHolder{
	text-align:center;
	font-size:70px;
	color:#FF9900;
	margin-top:300px;
display:none;
}