#a{
font-stretch:normal;
}
#b
{
font-stretch:wider;
}
#c
{
font-stretch:narrower;
}
#d{
font-stretch:ultra-condensed;
}
#e{
font-stretch:extra-condensed;
}
#f{
font-stretch:condensed;
}
#g{
font-stretch:semi-condensed;
}
#h{
font-stretch:semi-expanded;
}
#i{
font-stretch:expanded;
}
#j{
font-stretch:ultra-expanded;
}
#k{
	font-stretch:extra-expanded;
}