/*margin create invincivle box arount the selected element.ot create 100px around up,right,bottom,left=margin-top,margin-right,margin-bottom,margin-left*/
.mar{
	background:red;
	width:300px;
	margin:100px;
}
/*border:2px solid green,border-left:5px solid green*/
.bor{
	width:300px;
	background:blue;
	border-left-width:5px;
	border-left-color:red;
	border-left-style:solid;
	border-right-width:5px;
	border-right-color:green;
	border-right-style:double;
}
/*margin and padding are almost same.Difference=margin create outer invisible space and padding create inner invisible space
margin is pushing away form empty invisible things and padding is creating empty space in the inner invisible things
need more background,need more padding
*/
.pad{
width:300px;
background:pink;
padding: 50px 100px 300px 25px/*top right bottom left like clockwise. padding:100px for all side,for both top/bottom right/left same for margin*/	
}
/*width combie margin,padding,border*/
/*summary=
margin:empty space around my element
border:a border / stroke / around my element
padding: empty space with background around my element
all of these add on the top of the width and height

*/