#a{
border-style:none;
}
#b{
border-left-style:solid;
}
#c{
border-bottom-style:dotted;
}
#d{
border-top-style:dashed;
}
#e{
border-right-style:double;
}
#f{
border-style:groove;
}
#g{
border-style:ridge;
}
#h{
border-style:inset;
}
#i{
border-style:outset;
}
#j{
border-style:hidden;
}