#a{
outline-width:5px;
outline-style:none;
}
#b{
outline-width:5px;
outline-style:solid;
}
#c{
outline-width:5px;
outline-style:dotted;
}
#d{
outline-width:5px;
outline-style:dashed;
}
#e{
outline-width:5px;
outline-style:double;
}
#f{
outline-width:5px;
outline-style:groove;
}
#g{
outline-width:5px;
outline-style:ridge;
}
#h{
outline-width:5px;
outline-style:inset;
}
#i{
outline-width:5px;
outline-style:outset;
}
#j{
outline-width:5px;
outline-style:hidden;/*same as none*/
}