h1{
	color:#6b0;
	font-family:sans-serif;
	font-weight:lighter;
}
input,button{
	font:inherit;
}
a{
	color:inherit;
}
#callout{
	position:relative;
}
#callout::before{
	content:"";
	position:absolute;
	top:-.4em;
	left:1em;
	padding:.35em;
	background:inherit;
	color:inherit;
	border:inherit;
	border-right:0;
	border-bottom:0;
	transform:rotate(45deg);
}